.button {
  border: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: rgb(98, 50, 195);
  border-radius: 2rem;
  width: 10rem;
  height: 4rem;
  color: rgb(236, 236, 236);
}
