.button-header {
  border: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: rgb(98, 50, 195);
  border-radius: 2rem;
  width: 10rem;
  height: 4rem;
  color: rgb(236, 236, 236);
  cursor: pointer;
  box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.9);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:active {
    transform: translate(2px, 2px);
    box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.9);
  }
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 1rem 2.5rem;
  background-color: rgb(236, 236, 236);
  gap: 0.5rem;
  border-radius: 1.5rem;
  border: 3px solid #000;
  box-shadow: 0 7px 0 rgba(0, 0, 0, 0.9);

  &__name {
    color: #000;
    font-size: 1.5rem;
    font-weight: bold;
  }
  &__score {
    font-size: 2.5rem;
    font-weight: bold;
  }
}

.board-circle {
  width: 4rem;
  height: 4rem;
  background-color: rgb(131, 76, 242);
  border-radius: 50%;
  border: 3px solid #000;
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.9);
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 1000px) {
  .board-circle {
    width: 5rem;
    height: 5rem;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    position: relative;
  }
  .player {
    width: 25%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  .board-circle {
    width: 6rem;
    height: 6rem;
  }
}
@media screen and (min-width: 1408px) {
  .board-circle {
    width: 7.2rem;
    height: 7.2rem;
  }
}
@media screen and (min-width: 1920px) {
  .button-header {
    height: 4.5rem;
    width: 11rem;
    font-size: 1.6rem;
  }

  .player {
    width: 25%;
  }
  .board-circle {
    width: 9rem;
    height: 9rem;
  }
}
