.container {
  &__timer {
    width: 40%;
    background-color: rgb(226, 80, 47);
    height: 8rem;
    border-radius: 2rem;
    margin: 0 auto;
    position: relative;
    z-index: 0;
    font-family: sans-serif;
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    box-shadow: 5px 10px 0 rgba(0, 0, 0, 0.9);
    position: relative;
    bottom: -5%;

    &-count {
      font-size: 3.5rem;
      font-weight: bold;
      text-transform: lowercase;
    }

    &::before {
      content: "";
      width: 80%;
      height: 10rem;
      background-color: #e2502f;
      position: absolute;
      border-radius: 2rem;
      -webkit-transform: rotate(225deg);
      transform: rotate(225deg);
      top: -53%;
      left: 10%;
      z-index: -1;
    }
  }
}

@media screen and (min-width: 1000px) {
  .container {
    &__timer {
      &::before {
        display: none;
      }
    }
  }
}
