@import "reset";
@import "components";

.container {
  width: 100%;
  padding: 4rem 2rem;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__circle-box {
      display: flex;
      width: 15%;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;

      &__item {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        background-color: rgb(226, 80, 47);
        border: 3px solid #000;
        box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);

        &:nth-child(2) {
          background-color: rgb(230, 188, 39);
        }
        &:nth-child(3) {
          background-color: rgb(230, 188, 39);
        }
      }
    }
  }
}
