*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #834cf2;
  font-family: sans-serif;
  position: relative;
}

.button-header {
  border: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  background-color: #6232c3;
  border-radius: 2rem;
  width: 10rem;
  height: 4rem;
  color: #ececec;
  cursor: pointer;
  -webkit-box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 3px 6px 0 rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button-header:active {
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
  -webkit-box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 1px 3px 0 rgba(0, 0, 0, 0.9);
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
  padding: 1rem 2.5rem;
  background-color: #ececec;
  gap: 0.5rem;
  border-radius: 1.5rem;
  border: 3px solid #000;
  -webkit-box-shadow: 0 7px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 0 7px 0 rgba(0, 0, 0, 0.9);
}

.player__name {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.player__score {
  font-size: 2.5rem;
  font-weight: bold;
}

.board-circle {
  width: 4rem;
  height: 4rem;
  background-color: #834cf2;
  border-radius: 50%;
  border: 3px solid #000;
  -webkit-box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.9);
  margin-bottom: 0.5rem;
}

.board-circle:nth-child(20), .board-circle:nth-child(27), .board-circle:nth-child(34), .board-circle:nth-child(39), .board-circle:nth-child(40) {
  background-color: #e6bc27;
}

.board-circle:nth-child(32), .board-circle:nth-child(33), .board-circle:nth-child(38), .board-circle:nth-child(41) {
  background-color: #e2502f;
}

@media screen and (min-width: 1000px) {
  .board-circle {
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    position: relative;
  }
  .player {
    width: 25%;
    position: absolute;
    top: 40%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .board-circle {
    width: 6rem;
    height: 6rem;
  }
}

@media screen and (min-width: 1408px) {
  .board-circle {
    width: 7.2rem;
    height: 7.2rem;
  }
}

@media screen and (min-width: 1920px) {
  .button-header {
    height: 4.5rem;
    width: 11rem;
    font-size: 1.6rem;
  }
  .player {
    width: 25%;
  }
  .board-circle {
    width: 9rem;
    height: 9rem;
  }
}

.container {
  width: 100%;
  padding: 2rem 1.5rem;
}

.container__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem;
}

.container__header__circle-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container__header__circle-box__item {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #e2502f;
  border: 3px solid #000;
  -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
          box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
}

.container__header__circle-box__item:nth-child(2) {
  background-color: #e6bc27;
}

.container__header__circle-box__item:nth-child(3) {
  background-color: #e6bc27;
}

@media screen and (min-width: 300px) {
  .container__header__circle-box {
    width: 20%;
  }
}

@media screen and (min-width: 405px) {
  .container__header__circle-box {
    width: 15%;
  }
}

@media screen and (min-width: 415px) {
  .container__header__circle-box {
    width: 15%;
  }
}

@media screen and (min-width: 500px) {
  .container {
    padding: 4rem 5rem;
  }
  .container__header__circle-box {
    width: 15%;
  }
}

@media screen and (min-width: 600px) {
  .container {
    padding: 4rem 5rem;
  }
  .container__header__circle-box {
    width: 15%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 700px) {
  .container {
    padding: 4rem 5rem;
  }
  .container__header__circle-box {
    width: 12%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 4rem 5rem;
    width: 90%;
  }
  .container__header__circle-box {
    width: 12%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 820px) {
  .container {
    padding: 4rem 5rem;
    width: 90%;
  }
  .container__header__circle-box {
    width: 13%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 880px) {
  .container {
    padding: 4rem 5rem;
    width: 90%;
  }
  .container__header__circle-box {
    width: 10%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 1000px) {
  .container {
    width: 70%;
    padding: 4rem 5rem;
  }
  .container__header__circle-box {
    width: 10%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 70%;
    padding: 4rem 5rem;
  }
  .container__header__circle-box {
    width: 10%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 1425px) {
  .container {
    width: 70%;
    padding: 4rem 5rem;
  }
  .container__header__circle-box {
    width: 7%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

@media screen and (min-width: 1920px) {
  .container {
    width: 50%;
    padding: 4rem 5rem;
  }
  .container__header__circle-box {
    width: 8%;
  }
  .container__header__circle-box__item {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: #e2502f;
    border: 3px solid #000;
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
            box-shadow: 0 3px 0 rgba(0, 0, 0, 0.8);
  }
}

.container__players {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 1200px) {
  .container__players--1 {
    position: absolute;
    left: 0;
  }
  .container__players--2 {
    position: absolute;
    right: -25%;
  }
}

@media screen and (min-width: 1920px) {
  .container__players--1 {
    position: absolute;
    left: -10%;
  }
  .container__players--2 {
    position: absolute;
    right: -35%;
  }
}

.container__board {
  width: 100%;
  background-color: #ececec;
  padding: 1rem 0.2rem 2.5rem;
  height: 33rem;
  border-radius: 2rem;
  border: 3px solid #000;
  -webkit-box-shadow: 0 10px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 0 10px 0 rgba(0, 0, 0, 0.9);
  position: relative;
  z-index: -1000;
}

.container__board__circles {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  margin-bottom: 4rem;
}

@media screen and (min-width: 313px) {
  .container__board {
    width: 100%;
    padding: 1rem 0.5rem 2.5rem;
    height: 37.5rem;
  }
}

@media screen and (min-width: 350px) {
  .container__board {
    width: 100%;
    padding: 1rem 0.5rem 2.5rem;
    height: 37rem;
  }
}

@media screen and (min-width: 360px) {
  .container__board {
    width: 100%;
    padding: 1rem 0.5rem 2.5rem;
    height: 33rem;
  }
}

@media screen and (min-width: 400px) {
  .container__board {
    width: 95%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 412px) {
  .container__board {
    width: 95%;
  }
}

@media screen and (min-width: 414px) {
  .container__board {
    width: 95%;
  }
}

@media screen and (min-width: 420px) {
  .container__board {
    width: 92%;
  }
}

@media screen and (min-width: 434px) {
  .container__board {
    width: 90%;
  }
}

@media screen and (min-width: 443px) {
  .container__board {
    width: 87%;
  }
}

@media screen and (min-width: 457px) {
  .container__board {
    width: 83%;
  }
}

@media screen and (min-width: 476px) {
  .container__board {
    width: 80%;
  }
}

@media screen and (min-width: 494px) {
  .container__board {
    width: 75%;
  }
}

@media screen and (min-width: 500px) {
  .container__board {
    width: 85%;
  }
}

@media screen and (min-width: 537px) {
  .container__board {
    width: 80%;
  }
}

@media screen and (min-width: 564px) {
  .container__board {
    width: 75%;
  }
}

@media screen and (min-width: 595px) {
  .container__board {
    width: 70%;
  }
}

@media screen and (min-width: 630px) {
  .container__board {
    width: 65%;
  }
}

@media screen and (min-width: 671px) {
  .container__board {
    width: 60%;
  }
}

@media screen and (min-width: 719px) {
  .container__board {
    width: 57%;
  }
}

@media screen and (min-width: 751px) {
  .container__board {
    width: 55%;
  }
}

@media screen and (min-width: 768px) {
  .container__board {
    width: 60%;
  }
}

@media screen and (min-width: 799px) {
  .container__board {
    width: 55%;
  }
}

@media screen and (min-width: 861px) {
  .container__board {
    width: 52%;
  }
}

@media screen and (min-width: 904px) {
  .container__board {
    width: 50%;
  }
}

@media screen and (min-width: 936px) {
  .container__board {
    width: 45%;
  }
}

@media screen and (min-width: 1000px) {
  .container__board {
    width: 70%;
    height: 39rem;
  }
}

@media screen and (min-width: 1064px) {
  .container__board {
    width: 65%;
  }
}

@media screen and (min-width: 1135px) {
  .container__board {
    width: 60%;
  }
}

@media screen and (min-width: 1200px) {
  .container__board {
    width: 70%;
    height: 45rem;
  }
}

@media screen and (min-width: 1227px) {
  .container__board {
    width: 65%;
    height: 45rem;
  }
}

@media screen and (min-width: 1310px) {
  .container__board {
    width: 60%;
    height: 45rem;
  }
}

@media screen and (min-width: 1408px) {
  .container__board {
    width: 70%;
    height: 53rem;
  }
}

@media screen and (min-width: 1423px) {
  .container__board {
    width: 65%;
    height: 53rem;
  }
}

@media screen and (min-width: 1521px) {
  .container__board {
    width: 60%;
    height: 53rem;
  }
}

@media screen and (min-width: 1636px) {
  .container__board {
    width: 55%;
    height: 53rem;
  }
}

@media screen and (min-width: 1772px) {
  .container__board {
    width: 50%;
    height: 53rem;
  }
}

@media screen and (min-width: 1920px) {
  .container__board {
    width: 80%;
    height: 64rem;
  }
}

.container__timer {
  width: 40%;
  background-color: #e2502f;
  height: 8rem;
  border-radius: 2rem;
  margin: 0 auto;
  position: relative;
  z-index: 0;
  font-family: sans-serif;
  font-size: 1.2rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  text-transform: uppercase;
  -webkit-box-shadow: 5px 10px 0 rgba(0, 0, 0, 0.9);
          box-shadow: 5px 10px 0 rgba(0, 0, 0, 0.9);
  position: relative;
  bottom: -5%;
}

.container__timer-count {
  font-size: 3.5rem;
  font-weight: bold;
  text-transform: lowercase;
}

.container__timer::before {
  content: "";
  width: 80%;
  height: 10rem;
  background-color: #e2502f;
  position: absolute;
  border-radius: 2rem;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  top: -53%;
  left: 10%;
  z-index: -1;
}

@media screen and (min-width: 1000px) {
  .container__timer::before {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */